:root {
  --bg-navbar: #20232a;
  --main-text-navbar: #ffffff;
  --hover-text-navbar: #61dafb;
  --bg-search: #353b45;
  --bg-search-focus: #555e69;
  --bg-main: #20232a;
  --main-text: #ffffff;
  --hover-text: #61dafb;
  --section-bg: #282c34;
}
nav {
  z-index: 100;
  display: flex;
  background-color: var(--bg-navbar);
  width: 100%;
  height: 60px;
  justify-content: space-around;
  color: var(--main-text-navbar);
  padding: 0 5%;
  line-height: 60px;
  position: sticky;
  top: 0;
}
.logo a {
  color: var(--hover-text-navbar);
  font-weight: 900;
  font-size: 25px;
  text-decoration: none;
}
.links ul {
  list-style: none;
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  margin-right: 20px;
}
.links ul li {
  justify-content: space-around;
  margin: 0 6% 0 6%;
}
.links ul li a {
  text-decoration: none;
  color: var(--main-text-navbar);
  font-weight: 300;
  font-size: 20px;
  justify-content: space-around;
  transition: ease-in-out all 0.2s;
}
.links ul li a:hover {
  color: var(--hover-text-navbar);
  transition: ease-in-out all 0.2s;
}
.links ul li:last-child a {
  background-color: var(--hover-text);
  color: var(--bg-main);
  border: 3px solid var(--hover-text);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  padding: 5px 30px;
  font-weight: 500;
}
.links ul li:last-child a:hover {
  color: var(--main-text);
  background-color: transparent;
  transition: all 0.6s ease;
}
.burger {
  display: none;
}
@media all and (max-width: 750px) {
  .burger {
    display: block;
    cursor: pointer;
    z-index: 3;
  }
  .links {
    display: none;
  }
  .linksMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-navbar);
    width: 100vw;
    height: 100vh;
    position: absolute;
    animation: itemsSwipeDown 0.2s;
    z-index: 2;
  }
  @keyframes itemsSwipeDown {
    from {
      height: 0vh;
      z-index: -1;
    }
    to {
      height: 100vh;
      z-index: 2;
    }
  }
  .linksMobile ul li {
    opacity: 1;
    animation: linksFade 0.5s;
  }
  @keyframes linksFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .links ul {
    display: block;
    text-align: center;
  }
  .search {
    text-align: center;
  }
}
